.container__bar {
	margin: 7px 0px;
	height: 20px;
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: #191919;

	button {
		margin: 0px 2px;
		padding: 0px 2px;
		height: 100%;
		width: 20px;
		background-color: rgba(0, 0, 0, 0);
		border: none;
		border-radius: 5px;
		&:focus {
			outline: 0;
		}
	}
	.button--disabled {
		color: gray;
	}
	.button--enabled {
		color: white;
		&:hover {
			background-color: rgb(77, 77, 77);
		}
	}

	.bar__search--drive {
		width: 100%;
		height: 20px;
		margin-right: 10px;
		position: relative;

		input {
			text-indent: 5px;
			border: 1px solid #535353;
			height: 20px;
			width: 100%;
			font-size: 12px;
			font-weight: 100;
			background-color: rgba(0, 0, 0, 0);

			color: white;
			&:focus {
				outline: 0;
			}
			&::placeholder {
				transition: color .3s ease;

				color: rgba(255, 255, 255, 0.37);
			}
			&:focus::placeholder {
				color: transparent;
			}
		}

		.search__results {
			position: absolute;
			height: 100px;
			width: 100%;
			z-index: 3;

			background-color: #191919;
			border: 1px solid #535353;
			border-top: none;

			overflow-y: auto;
			display: none;
			.results__item {
				z-index: 3;
				margin: 2px 0px;
				background-color: white;
				width: 100%;
				height: 20px;
				min-height: 20px;
			}				
		}
		.search__results--active {
			display: flex;
			flex-direction: column
		}
	}

	.bar__search--local {
		width: 200px;
		height: 20px;
		margin-right: 5px;

		input {
			text-indent: 5px;
			border: 1px solid #535353;
			height: 20px;
			width: 100%;
			font-size: 12px;
			font-weight: 100;
			background-color: rgba(0, 0, 0, 0);
			color: white;
			&:focus {
				outline: 0;
			}
			&::placeholder {
				color: rgba(255, 255, 255, 0.37);
			}
			&:focus::placeholder {
				color: transparent;
			}
		}
	}
}
