.paint__container {
    position: absolute;
    top: 30px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: rgb(41, 41, 41);
    z-index: inherit;

    display: flex;
    flex-direction: column;    

}
