.snake__container {
    position: absolute;
    top: 30px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    overflow: hidden;
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .snake__container--middle {
        .container__ui {
            height: 50px;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .container__grid {
            background-color: black;
            box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.91);
            border-radius: 10px;
        }
    }
    // .container__grid {
    //     background-color: black;
    //     box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.91);
    //     border-radius: 10px;
    // }

    transition: background-color 1s ease;
}

.radius_x0_y1 {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.radius_x1_y0 {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.radius_x0_y-1 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.radius_x-1_y0 {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.eating {
    transform: scale(1.1);
}

.HEAD_speed_100 {
    background-color: #f5deb3;
    box-shadow: 0px 0px 4px 1px #f5deb3;
}

.HEAD_speed_95 {
    background-color: #f1f5b3;
    box-shadow: 0px 0px 4px 1px #f1f5b3;
}

.HEAD_speed_90 {
    background-color: #e1f5b3;
    box-shadow: 0px 0px 4px 1px #e1f5b3;
}

.HEAD_speed_85 {
    background-color: #cbf5b3;
    box-shadow: 0px 0px 4px 1px #cbf5b3;
}

.HEAD_speed_80 {
    background-color: #9bff61;
    box-shadow: 0px 0px 4px 1px #9bff61;
}

.HEAD_speed_75 {
    background-color: #6fff1c;
    box-shadow: 0px 0px 4px 1px #6fff1c;
}

.HEAD_speed_70 {
    background-color: #00ff15;
    box-shadow: 0px 0px 4px 1px #00ff15;
}

.BODY {
    transition: background-color 1s ease;
    transition: box-shadow 1s ease;
}

.BODY_speed_100 {
    background-color: #6251ff;
    box-shadow: 0px 0px 4px 1px #6251ff;
}

.BODY_speed_95 {
    background-color: #ab51ff;
    box-shadow: 0px 0px 4px 1px #ab51ff;
}

.BODY_speed_90 {
    background-color: #c851ff;
    box-shadow: 0px 0px 4px 1px #c851ff;
}

.BODY_speed_85 {
    background-color: #ff51f1;
    box-shadow: 0px 0px 4px 1px #ff51f1;
}

.BODY_speed_80 {
    background-color: #ff51a2;
    box-shadow: 0px 0px 4px 1px #ff51a2;
}

.BODY_speed_75 {
    background-color: #ff5151;
    box-shadow: 0px 0px 4px 1px #ff5151;
}

.BODY_speed_70 {
    background-color: #ff2b2b;
    box-shadow: 0px 0px 4px 1px #ff2b2b;
}

.FRUIT {
    border-radius: 10px;
}

.GREEN {
    background-color: #28cf75;
    box-shadow: 0px 0px 13px 1px #28cf75;
}

.GOLDEN {
    background-color: #cdda5b;
    box-shadow: 0px 0px 13px 1px #cdda5b;
}

.BONUS {
    background-color: #5bd6da;
    box-shadow: 0px 0px 13px 1px #5bd6da;
}
