.container {
    position: absolute;
    top: 30px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    overflow: hidden;
    background-color: rgb(165, 165, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    .grid {
        position: relative;
        height: 500;
        width: 500;
        display: grid;

        background-color: blue;
    }
}
