.scrollbar--light {
    &::-webkit-scrollbar {
        width: 10px;
        margin: 0px;
        height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #c1c1c1;
        &:hover {
            background-color: #a8a8a8;
        }
    }
}
