.resizable--winamp {
    position: absolute;
    z-index: 3;
    overflow: hidden;
    transition: background-color 0.2s ease;
    transition: box-shadow 0.5s ease;

    border-radius: 10px;

    .resizable__window {
        position: absolute;
        width: 100%;
        height: 100%;
        .window__bar {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 50px;
            z-index: 3;

            cursor: move;
            .bar__title {
                display: none;
            }
            .bar__buttons {
                position: absolute;                
                top: 10px;
                right: 10px;

                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: center;
                button {
                    background-color: transparent;
                    margin-left: 10px;
                    width: 30px;
                    height: 30px;
                    border: 0px;
                    color: white;
                    outline: none;
                    cursor: pointer;
                    &:hover{
                        color: #b1e0ff;
                    }
                }
                // .buttons__exit {
                    
                // }
                // .buttons__control {
                // }
                // .buttons__disabled {
                //     &:hover {
                //         background-color: transparent;
                //     }
                // }
            }
        }
    }
}

.resizable--winamp--focused {
    -webkit-box-shadow: 0px 0px 15px -3px #000000; 
box-shadow: 0px 0px 15px -3px #000000;
}
