.defaultContainer{
    top: 400px;
    left: 100px;
    width: 500px;
    height: 300px;
    position: absolute;
    z-index: 3;
    resize: both;
  overflow: auto;
    background: whitesmoke;

}

.explorerContainer{
    background: yellow;
    position: absolute;
    z-index: inherit;
    top: 50px;
    left: 5px;
    right: 5px;
    bottom: 20px;

    .toolBar{
        width: 100px;
    }
}