.explorerContainer{
    background: rgb(41, 41, 41);
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: inherit;
    top: 30px;
    left: 1px;
    right: 1px;
    bottom: 1px;

    .toolBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 100%;
        background-color: black;
        button{
            margin: 2px;
            height: 26px;
            width: 26px;
            border: none;
            background-color: transparent;
            color: white;
            border: none;
            border-radius: 5px;
            &:hover{
                background-color: rgb(77, 77, 77);
            }
            &:focus{
                outline: 0;
            }
        }
        input{
            margin: 2px 2px 2px 2px;
            text-indent: 5px;
            border: 1px gray solid;
            border-radius: 5px;
            height: 26px;
            width: 100%;
            background-color: transparent;
            color: white;
            &:focus{
                outline: 0;
            }
        }
    }
    .content{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: start;

        .otherFolders{
            width: 100px;
            position: relative;
            background: green;
        }
    
        .iconGrid{    
            margin: 5px;
            position: relative;
            display: grid;
            grid-gap: 5px;
            width: 100%;
            grid-template-columns: repeat(auto-fit, 55px);
            grid-template-rows: repeat(auto-fit, 65px);
            background: rgb(41, 41, 41);
    
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 10px;
        
        }
        
    }
    

    
    
}

