* {
	box-sizing: border-box;
	margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: myFirstFont;
    src: url(../../media/calibril.ttf);
  }

.desktop{
    z-index: 1;


    color: white;


    .desktopBackground{
        position: sticky;
        top: 0px;
        height: 100%;
        width: 100%;
        
        object-fit: cover;
    }

    .iconGrid{
        z-index: 2;
    
        justify-content: start;
        position: absolute;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, 75px);
        grid-template-rows: repeat(auto-fit, 85px);
    
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 35px;
    
    }
    .activateWindows{
        position: absolute;
        right: 60px;
        bottom: 50px;
        color: white;
        opacity: 0.5;
        .top{
            font-size: 24px;
        }
        .down{
            font-size: 16px;
        }
    }
    
}



