.menu {
    position: absolute;
    width: 500px;
    height: 500px;
    max-height: 90vh;
    bottom: 35px;
    left: 0px;
    z-index: 5;
    background-color: #191919;

    display: flex;
    flex-direction: row;
}

.menu__column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu__column--left {
    width: 50px;
    align-items: center;
    justify-content: flex-end;
    button {
        width: 50px;
        height: 50px;
        background-color: #191919;
        color: white;
        border: 0px;
        outline: none;
        // &:focus {
        //     background-color: red;
        //     outline: none;
        // }
        &:hover {
            background-color: rgba(255, 255, 255, 0.109);
        }
    }
}
.menu__column--middle {
    width: 170px;
    overflow-y: scroll;

    .column__section {
        display: flex;
        flex-direction: column;
        margin: 15px 0px 0px 5px;

        .section__title {
            color: white;
        }
        .section__container {
            display: flex;
            flex-direction: column;
        }
    }
}
.menu__column--right {
    display: flex;
    flex-direction: column;
    width: 280px;
    overflow-y: scroll;
    margin-right: 5px;
    .column__section {
        margin: 15px 0px 0px 5px;
        .section__title {
            color: white;
        }
        .section__grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, 83px);
            grid-template-rows: repeat(auto-fit, 83px);
            grid-gap: 5px;
        }
    }
}
