.container__toolbar {
    position: relative;
    width: 100%;
    height: 100px;
    min-height: 100px;
    background-color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

    overflow-x: auto;
    overflow-y: hidden;

    .toolbar__colors{
        height: 100px;
        display: flex;
        flex-direction: column;

        .colors__button{
            background-color: red;
        }

        .colors__dropdown{
            position: absolute;
            width: 100px;
            height: 200px;
            min-height: 200px;
            z-index: 100;
            background-color: blueviolet;
        }
    }
}