.container__menu {
    width: 200px;
    min-width: 200px;
    height: 100%;
    // border-radius: 20px 0 0 20px ;
    display: flex;
    flex-direction: column;
    background-image: url(../../../media/images/bgedited.jpg);

    overflow-y: auto;
    overflow-x: hidden;

    .menu__logo {
        position: relative;
        width: 190px;
        height: 45px;
        min-height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-top: 30px;
            width: 140px;
        }
    }
    .menu__albums {
        margin-top: 40px;
        .albums__item {
            margin: 10px 10px;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 15px;

            transition: all 0.3s linear;

            cursor: pointer;

            .album__cover {
                border-radius: 15px 15px 15px 15px;
                height: 50px;
                width: 50px;
            }

            .album__dsc {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: black;
                overflow: hidden;
                margin: 0px 5px;
                p {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }

        .albums__item--focused {
            -webkit-box-shadow: 1px 4px 4px -2px #000000;
            box-shadow: 1px 4px 4px -2px #000000;
            .album__cover {
                border-radius: 15px 15px 2px 15px;
            }
        }
    }
}

.container__menu--hidden {
    display: none;
}

.container__menu--open {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
